* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1194px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.search-form {
  display: flex;
  flex-grow: 1; /* растягивается на всю ширину */
  margin-left: 76px;
  max-width: 620px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  position: relative; /* для относительного выравнивания кнопки поиска */
}

.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 20px;
}

.search-input:hover {
  outline: 1px solid #ec762a;
  border-radius: 10px;
}

.search-icon {
  width: 22px;
  height: 22px;
}

.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 18px;
  cursor: pointer;
  fill: #ec762a;
}

.search-button:hover {
  fill: #000000;
}

.auth {
  margin-left: auto;
}

.login {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  color: #000000;
}

.login:hover {
  background: #ffa871;
  color: #fff;
}

.cart-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.shopping-cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  width: 49px;
  height: 49px;
  text-decoration: none;
  border-radius: 50%;
  background: #f66a15;
}

.shopping-cart:hover {
  background: #ffa871;
}

.shopping-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  padding: 5px;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  background: #ffaf19;
  border-radius: 50%;
}

/**/

.slider {
  position: relative;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 9;
  right: 46px;
  bottom: 40px;
  width: 100px;
}

.slider-button {
  cursor: pointer;
}

.slide {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 100px;
  border-radius: 20px;
  overflow: hidden; /* если что-то вываливается за пределы - прятать */
  min-height: 400px;
}

.slide-text-light {
  background-color: grey;
  color: #fff;
}

.slide-content {
  position: relative; /* чтоюы контент не перекрывался overlay -ем */
  max-width: 500px;
}

.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
}

.slide-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}

.button-primary {
  background: #f47322;
  color: #fff;
}

.button-primary:hover {
  outline: 2px solid #f47322;
  background: #fff;
  color: #f47322;
}

.button-default {
  background-color: #fff;
  font-size: 16px;
  color: #5f5f61;
}

.button-default:hover {
  outline: 3px solid #f47322;
}

.button {
  display: inline-block;
  padding: 12px 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  border-radius: 25px;
  transition: 0.3s;
}

.slide-summer {
  background-image: url(../img/summer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-autumn {
  background-image: url(../img/autumn.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-vitamin {
  background-image: url(../img/vitamin.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
}

.promo {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: -20px; /* чтобы оставить отступ между карточками только внутри блока */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex: 50%;
  margin: 20px;
  max-width: 570px;
  min-height: 380px;
  padding: 32px;
  border-radius: 20px;
  overflow: hidden;
}

.card-header,
.card-footer {
  z-index: 2;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.card-text-light {
  color: #fff;
}

.card-title {
  margin-top: 4px;
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
}

.card-description {
  max-width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.card-price {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
}

.card-delivery {
  display: block;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.sweet-basket {
  background-image: url(../img/sweet_basket.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.minimum {
  background-image: url(../img/minimum.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}

.delivery-week {
  padding: 100px 0;
}

.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.delivery-card {
  position: relative;
  margin: 15px;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
}

.delivery-card:hover {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.delivery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery-tag {
  position: absolute;
  z-index: 7;
  top: 16px;
  left: 10px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  border-radius: 30px;
}

.tag-light-text {
  color: #fff;
}

.tag-health {
  background: #d0fd89;
}

.tag-vegetable {
  background: #aebc41;
}

.tag-meat {
  background: #b86b78;
}

.tag-bird {
  background: #d68334;
}

.tag-fish {
  background: #cd6255;
}

.tag-kids {
  background: #fffdbf;
}

.tag-parents {
  background: #f6fdc8;
}

.tag-holiday {
  background: #fef7fe;
}

.section-gray {
  background: #f6f6f6;
}

.category {
  padding-top: 40px;
  padding-bottom: 60px;
}

.tabs {
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style-type: none;
}

.tabs-link {
  margin-right: 58px;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #49494f;
}

.tabs-link.active {
  color: #f37321;
}

.tabs-link:hover {
  color: #f37321;
}

.tabs-content {
  display: flex;
  margin: -18.5px;
}

.tabs-card {
  margin: 18.5px;
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}

.tabs-card:hover {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.tabs-image {
  max-width: 100%;
}

.tabs-card-content {
  padding: 23px;
}

.tabs-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}

.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs-price {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
}

.tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}

.button-outline {
  padding: 15px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
  background-color: transparent;
  border: 2px solid #f37321;
  border-radius: 33px;
  cursor: pointer;
}

.button-outline:hover {
  border: 2px solid #ffa871;
  background-color: #ffa871;
  color: #fff;
}

.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}

.benefits {
  padding: 100px 0 200px 0;
}

.benefits-content {
  display: flex;
  margin: -18.5px;
}

.benefits-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18.5px;
  max-width: 270px;
  min-height: 296px;
  padding: 25px;
  text-align: center;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  transition: 0.3s;
}

.benefits-image {
  height: 60px;
  margin-bottom: 34px;
  fill: #f37321;
}

.benefits-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-title {
  max-width: 188px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 13px;
}

.benefits-description {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #49494f;
  transition: 0.3s;
}

.benefits-card:hover {
  background-color: #f37321;
  color: #fff;
}

.benefits-card:hover .benefits-image {
  fill: #fff;
}

.benefits-card:hover .benefits-description {
  color: #fff;
}

.footer {
  padding: 40px 0;
  background: #f6f6f6;
}

.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 50px;
}

.footer-link {
  margin-right: 50px;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}

.footer-link:hover {
  color: #f37321;
}

.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social-link {
  display: block;
  margin-left: 20px;
  width: 28px;
  height: 28px;
  padding: 6px;
  background-color: #c4c4c4;
  border-radius: 100%;
  fill: #000;
}

.social-link:hover {
  background-color: #d68334;
}

.social-link:hover svg {
  fill: #fff;
}

@media (max-width: 1260px) {
  .container {
    max-width: 960px;
  }

  .search-form {
    margin-left: 40px;
    margin-right: 40px;
  }

  .tabs-content {
    flex-wrap: wrap;
  }

  .tabs-card {
    flex: 50%;
    max-width: calc(50% - 37px);
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .slide {
    padding: 70px;
  }

  .delivery-card {
    width: calc(50% - 37px);
  }

  .benefits-content {
    flex-wrap: wrap;
  }

  .benefits-card {
    max-width: 50%;
    width: calc(50% - 37px);
  }

  .footer-logo {
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }

  .header {
    flex-wrap: wrap;
  }

  .shopping-cart {
    margin-right: 0;
    margin-left: 60px;
  }

  .search-form {
    order: 5;
    margin: 15px 0;
  }

  .promo {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }

  .shopping-cart {
    margin-right: 0;
    margin-left: 15px;
  }

  .slide {
    padding: 60px;
  }

  .button {
    padding: 8px 15px;
  }

  .slide-title {
    font-size: 30px;
    line-height: 30px;
  }

  .slide-text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .delivery-card {
    width: 100%;
  }

  .tabs-card {
    max-width: 100%;
  }

  .benefits {
    padding: 50px 0 70px 0;
  }

  .benefits-cards {
    justify-content: center;
  }

  .benefits-card {
    width: 100%;
    max-width: 100%;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
  }

  .footer-wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .social-links {
    margin: auto;
    margin-top: 30px;
  }

  .footer-logo {
    width: 150px;
  }

  .tabs {
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: -20px;
  }

  .button-center {
    width: 200px;
  }

  .footer-link {
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .social-links {
    margin-top: auto;
  }

  .footer-logo {
    margin-bottom: 15px;
  }
}

@media (max-width: 375px) {
  .logo-image {
    width: 100px;
  }

  .slide-text {
    display: none;
  }

  .slide-title {
    margin-bottom: 30px;
  }

  .section-title {
    font-size: 25px;
  }
}
